body {
    margin: 3px !important;
}

#top {
    background-color: #d1d6e9;
    background-image: url("wise.jpg");
    background-repeat: no-repeat;
}

/* ---------------------------------------------------------------- */
/* TreesGrid */
/* ---------------------------------------------------------------- */

table.wise-Grid-frame {
    border: 1px solid #253b4e;
    padding: 1px;
}

table.wise-Grid-frame-titleBar {
    background-color: #578bb8;
    height: 24px;
    font-weight: bold;
    color: white;
    vertical-align: bottom;
    padding-left: 6px;
}

table.wise-Grid div.header-cell-content-area {
    width: 100%;
    overflow: hidden;
}

table.wise-Grid div.header-cell-content-area-break-words {
    word-break: break-all;
    word-wrap: break-word;
}

table.wise-Grid div.body-cell-content-area {
    width: 100%;
    overflow: hidden;
}

table.wise-Grid div.body-cell-content-area-break-words {
    word-break: break-all;
    word-wrap: break-word;
}

table.wise-Grid {
    border-collapse: collapse;
    border: 1px solid #253b4e;
    margin: 0px;
    padding: 0px;
}

table.wise-Grid td,table.wise-Grid th {
    margin: 0px;
    overflow: hidden;
}

table.wise-Grid table {
    border-collapse: collapse;
}

/* root */

table.wise-Grid .level-1-first .header-cell {
    border-top: 0px !important;
}

table.wise-Grid .header-cell {
    border-bottom: 1px solid #253b4e;
    border-right: 1px solid #253b4e;
    background-color: #578bb8;
    padding: 4px;
}

table.wise-Grid .header-cell td {
    color: white;
    font-weight: bold;
}

table.wise-Grid .level-1 .header-cell {
    border-top: 3px double #253b4e;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: white;
}

table.wise-Grid .level-1 .header-cell td {
    color: #253b4e;
    font-weight: bold;
}

table.wise-Grid .level-1 .header-cell-last {
    border-right: 0px;
}

table.wise-Grid .level-1-collapsed .header-cell {
    border-bottom: 0px !important;
}

table.wise-Grid .level-1-empty .header-cell {
    border-bottom: 0px !important;
}

table.wise-Grid .header-cell-active {
    background-color: #3b5f7e;
}

table.wise-Grid .header-cell-last {
    border-right: 0px;
}

table.wise-Grid .body-cell {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 4px;
}

table.wise-Grid .body-row-first td {
    border-top: 0px;
}

table.wise-Grid .body-row-last td {
    border-bottom: 0px;
}

table.wise-Grid .body-cell-last {
    border-right: 0px;
}

table.wise-Grid .body-row-even td {
    background-color: #dae0f4;
}

table.wise-Grid .body-row-even .body-cell-active {
    background-color: #d2d7eb;
}

table.wise-Grid .body-row-odd .body-cell-active {
    background-color: #f1f1f1;
}

table.wise-Grid .level-2 .body-row td {
    border-bottom: 1px solid #253b4e;
}
    
.wise-Grid-frame {
    border: 1px solid #253b4e;
    padding: 1px;
}

.wise-Grid-ctrl-button {
	cursor: pointer;
}
